## Getting Data from hitbtc Api

In [64]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)

In [65]:
import requests
import pandas as pd

In [66]:
#1. Caliin
response = requests.get("https://api.hitbtc.com/api/2/public/symbol")
response

#2.
response1 = requests.get("https://api.hitbtc.com/api/2/public/ticker")
response1

#3. 
response2 = requests.get("https://api.hitbtc.com/api/2/public/trades/ETHBTC")
response2

#4. 
response3 = requests.get("https://api.hitbtc.com/api/2/public/candles/ETHBTC?period=M30")
response3

## Converting Json Data to Dataframe

In [67]:

import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    return (text)

#jprint(response.json())

In [68]:
# converting json to dataframe.
df1 = pd.read_json(jprint(response.json()))
df2 = pd.read_json(jprint(response1.json()))
df3 = pd.read_json(jprint(response2.json()))
df4 = pd.read_json(jprint(response3.json()))

In [69]:
# list of data frames
lst = [df1, df2, df3, df4]

In [70]:
# concating all data
df_main = pd.concat(lst, axis = 1)

In [71]:
df_main

     baseCurrency feeCurrency  ... volume  volumeQuote
0             FTM         USD  ...  0.515     0.003127
1            SYBC         USD  ...  0.470     0.002887
2           STEEM         BTC  ...  0.023     0.000144
3             PPC         USD  ...  0.041     0.000257
4            REEF         USD  ...  0.004     0.000025
...           ...         ...  ...    ...          ...
1235         POWR         ETH  ...    NaN          NaN
1236          MKR         DAI  ...    NaN          NaN
1237        SUPER         USD  ...    NaN          NaN
1238         CHSB         BTC  ...    NaN          NaN
1239          FUN         ETH  ...    NaN          NaN

[1240 rows x 32 columns]

## Data Preprocessing

In [72]:
# removing duplicate colums
df_main = df_main.loc[:,~df_main.columns.duplicated()]

In [73]:
lst_drop = ["quantityIncrement", "takeLiquidityRate", "feeCurrency",
            "marginTrading","maxInitialLeverage", "ask","bid", "id", "price", "quantity", "close"]
# dropping the columns 
df_main = df_main.drop(lst_drop, axis = 1)
df_main

     baseCurrency  provideLiquidityRate quoteCurrency  ...  side       max       min
0             FTM                 0.001           USD  ...   buy  0.006500  0.005000
1            SYBC                 0.001           USD  ...   buy  0.006300  0.005880
2           STEEM                 0.001           BTC  ...  sell  0.006280  0.006280
3             PPC                 0.001           USD  ...   buy  0.006280  0.006280
4            REEF                 0.001           USD  ...   buy  0.006291  0.006291
...           ...                   ...           ...  ...   ...       ...       ...
1235         POWR                 0.001           ETH  ...   NaN       NaN       NaN
1236          MKR                 0.001           DAI  ...   NaN       NaN       NaN
1237        SUPER                 0.001           USD  ...   NaN       NaN       NaN
1238         CHSB                 0.001           BTC  ...   NaN       NaN       NaN
1239          FUN                 0.001           ETH  ...   NaN       NaN       NaN

[1240 rows x 15 columns]

In [74]:
# renaming the columns
df_main=df_main.rename(columns = {'baseCurrency':'Base currency quantity traded', 'quoteCurrency': 'Quote currency quantity traded',
                           'provideLiquidityRate': 'Liquidity in pool','last':'close' })

In [75]:
# rearranging colums
x=list(df_main.columns)
x

['Base currency quantity traded',
 'Liquidity in pool',
 'Quote currency quantity traded',
 'tickSize',
 'high',
 'close',
 'low',
 'open',
 'symbol',
 'timestamp',
 'volume',
 'volumeQuote',
 'side',
 'max',
 'min']

In [76]:
x=['timestamp','side','Base currency quantity traded','Quote currency quantity traded','open','high','low','close','volume','Liquidity in pool','tickSize','max','min','volumeQuote']

In [77]:
df_new=pd.DataFrame()

In [78]:
for i in x:
  df_new[i]=df_main[i]
df_new

                            timestamp  side  ...       min   volumeQuote
0    2021-06-16 14:38:54.343000+00:00   buy  ...  0.005000   2046.683637
1           2021-06-16 14:38:51+00:00   buy  ...  0.005880  12190.621909
2    2021-06-16 14:38:54.548000+00:00  sell  ...  0.006280      6.462049
3    2021-06-16 14:38:52.944000+00:00   buy  ...  0.006280    317.807207
4    2021-06-16 14:38:53.139000+00:00   buy  ...  0.006291   4067.875242
...                               ...   ...  ...       ...           ...
1235 2021-06-16 14:38:52.645000+00:00   NaN  ...       NaN      0.029618
1236 2021-06-16 14:38:53.656000+00:00   NaN  ...       NaN      0.000000
1237 2021-06-16 14:38:52.841000+00:00   NaN  ...       NaN   3381.401612
1238 2021-06-16 14:38:54.651000+00:00   NaN  ...       NaN     42.567653
1239 2021-06-16 14:38:45.949000+00:00   NaN  ...       NaN      0.000413

[1240 rows x 14 columns]

In [79]:
# saving the result in csv
df_new.to_csv('out.csv')